@{
    ViewData["Title"] = "Controle de Estoque";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Esse site é parte de um trabalho feito na PUC-Minas.</p>
    <p>O objetivo é concluir com sucesso um CRUD conectado ao banco de dados MongoDb</p>
</div>
